/*DOCUMENTO CSS*/
* { margin: 0;
    padding: 0;}

@font-face {
    font-family: 'Champagne & Limousines';
    src: url('../Fonts/ChampagneLimousines-Bold.woff2') format('woff2'),
        url('../Fonts/ChampagneLimousines-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.cabecera{font-family: 'Champagne & Limousines';
        background: #cdedcd;
        min-width: 1px;
        width: 100%;}

.bar { min-height: 1px;}

.logo {color: rgb(22, 101, 83);
        font-size: 2em;
        display: block;
        width: 60px;
        padding: 8px 0px;
        margin: auto;}

.container { display: flex;
            flex-flow: row wrap;
            background-color: mediumaquamarine;}

.items { width: 25%;
        text-decoration: none;
        text-align: center;}

.container a:first-child {display: none;}        

/*BREAKPOINT 600PX*/

@media only screen and (min-width:600px) {

.logo {font-size: 4em ;} 

.items {width: 25% ;}
    
}

/*BREAKPOINT 992PX*/

@media only screen and (min-width:992px) {

.container a:first-child {display: block;
                        border-top-left-radius: 16px;
                        border-bottom-left-radius:16px ;}
.container a:last-child {border-top-left-radius: 16px;
                        border-bottom-right-radius: 16px;}                        

.items {width: 20%;}

.container {width: 80%;
            margin: auto;
            position: relative;
            top: 15px;
            border-radius: 16px;
            box-shadow: 0px 0px 2px black;}

}
